
    </div> <!-- End container fluid-->

    <footer>
      <section>
        <a href="/">Home</a>     |     <a href="/login">Login</a>     |     <a href="/about">About</a>
      </section>
    </footer>

  </body>
</html>
