
    </div> <!-- End container fluid-->

    <footer>
      <section>
        <a href="/">Home</a>  | <a href="/about">About</a> | <a href="http://www.generalassemb.ly">GA</a>
      </section>
    </footer>

  </body>
</html>
