
    </div> <!-- End container fluid-->

<a href="/logout" class="btn btn-default">Log out</a>

    <footer>
      <section>
        <a href="/">Home</a>  | <a href="/login">Login</a> | <a href="/about">About</a>
      </section>
    </footer>

  </body>
</html>
