<!doctype html>
<html>
  <head>
    <title>GA Student Directory</title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
  </head>
  <body>
  
  <header>
    <section>
       <a href="/login">Login</a>
    </section>
  </header>

    <div class="container-fluid myContainer main">

