<%- include ../header.ejs %>

  <div class="row content">
    <section>
      <div class="col-md-2 col-xs-12"></div>
      <div class="col-md-8 col-xs-12">
        <h1>Whoa there!</h1> 
        <p>Something is wrong with your twitter handle!</p>
        <p>Are you sure your handle is public?</p>
        <p><a href="/" class="btn btn-default">Go home</a>.</p>

        <img src="images/taco.png" style="width:100%;"/>
      </div>
      <div class="col-md-2 col-xs-12"></div>
    </section>
  </div>
<%- include ../footer.ejs %>