<%- include ../header.ejs %>

  <div class="row content">
    <section>
      <div class="col-md-2 col-xs-12"></div>
      <div class="col-md-8 col-xs-12">
        <h1>Oh no!</h1> 
        <p>Something went wrong! But, at least we have tacos?</p>
        <p><a href="/" class="btn btn-default">Go home</a>.</p>

        <img src="images/taco.jpg" style="width:100%;"/>
      </div>
      <div class="col-md-2 col-xs-12"></div>
    </section>
  </div>
<%- include ../footer.ejs %>