<%- include ../header.ejs %>

  <div class="row">
    <section>
      <div class="col-md-2 col-xs-12"></div>
      <div class="col-md-8 col-xs-12">Whoops! Something went wrong. Head <a href="/">home</a>.</div>
      <div class="col-md-2 col-xs-12"></div>
    </section>
  </div>
<%- include ../footer.ejs %>