<%- include ../headerOut.ejs %>

  
<div class="row signup">
  <section>
    <div class="col-md-5 col-xs-12">
        <h1>Connect with past<br> &amp; present SF GA students.</h1> 
        <p>Get in touch with members of your cohort, or find someone to collaborate on a project with.</p>
    </div>

    <div class="col-md-7 col-xs-12">

      <h2>Sign Up Now</h2>

      <form class="form-horizontal" role="form" method="POST" action="/create">
     




      <div class="row">
        <div class="col-md-6 col-xs-12">

          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control firstname" id="firstname" name="firstname" placeholder="First Name" autofocus>
            </div>
          </div>

        </div>

        <div class="col-md-6 col-xs-12">

          <div class="form-group">
            <div class="col-sm-12">
              <input type="text" class="form-control lastname" id="lastname" name="lastname" placeholder="Last Name">
            </div>
          </div>

        </div>
      </div>



        <div class="form-group">
          <div class="col-sm-12">
            <input type="email" class="form-control email" id="email" name="email" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
           
           <div class="input-group">
              <div class="input-group-addon">@</div>
              <input type="text" class="form-control twitterhandle" id="twitterhandle" name="twitterhandle" placeholder="Twitter Handle">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input type="password" class="form-control password" id="password" name="password" placeholder="Password">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-0 col-sm-12">
            <button type="submit" class="btn btn-default">Sign Up</button>
          </div>
        </div>
      </form>
      <a href="/login">Already have an account? Login!</a>
    </div>
  </section>
</div>


<%- include ../footer.ejs %>