/* General Styles */

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body {
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  line-height: 20px;
  color: #222222;
  background-color: #ececec;
  background-image: url('/images/gears.png');
  background-repeat: repeat;
}
.main {
  min-height: 700px;
}
.row.content {
    background-color: white;
    border-bottom: 2px solid #ccc;
    padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: #222222;
}
a:hover{
  color: #fa4542;
}

section {
  max-width: 960px;
  padding: 0 20px;
  margin: 0 auto;
}

header, footer {
  background-color: black;
  color: #ececec;
  min-height: 50px;
  padding: 10px 0 20px 0;
}

footer {
  text-align: center;
  padding-top: 25px;
}
footer a {
  display: inline-block;
  padding: 0 20px;
  font-size: 18px;
}
header a, 
footer a {
  color: #ececec;
}
header {
  border-bottom: 2px solid #ccc;
}
header a#logo {
  background: url('/images/logo.jpg') 0 0 no-repeat;
  text-indent: -99999px;
  float: left;
  width: 100px;
  height: 30px;
}
header .right {
  float: right;
}




/* Landing page */

.signup {
  padding: 10px 0 30px 0;
}
.login {
  padding: 10px 0 30px 0;
}

/* home page */
ul.tweet-stream{
  padding: 0;
}
 li.tweet {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid #ccc;
}
.home h2 {
  padding-top: 20px;
}
.home .tweetphoto {
  border: 1px solid #ccc;
  margin: 0 15px 0 0;
  float: left;
}

/* profile */
.profile img.profile-pic {
  float: left;
  margin: 10px 20px 10px 0;
  border-radius: 50%;
  height: 150px;
  border: 1px solid #ccc;
}

.profile .top {
  clear: both;
  height: 190px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.profile .top h3 {
  margin-top: 10px;
}
.profile .bottom {
  clear: both;
}

/* Directory */
.directory ul {
  padding: 0;
}
.directory .right-box{
  padding: 15px 0;
}
.directory li {
  list-style: none;;
}
.directory li.course {
  border-top: 1px solid #ccc;
}
.directory li.course h3 {
  margin-top: 15px;
}
.directory li.student span{
  display:  inline-block;
  margin-right: 10px;
  padding: 15px;
}